h1 {
  margin: 0px;
  color: rgb(106, 180, 32);
  text-align: center;
  font-size: 45px;
  font-family: cursive;
  background-color: rgb(216, 247, 191);
}

#board {
  height: 100vh;
  background-color: rgb(243, 223, 223);
}

/* #board:hover {
  background-color: rgb(173, 28, 70);
} */

#board {
  height: calc(100vh - 55px);
  background-color: rgb(193, 221, 177);
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card {
  margin: 10px;
  background-color: rgb(130, 160, 95);
  border-radius: 5px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}
